body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header{
    background-color: rgb(112, 109, 109);
    color: ghostwhite;
}
ul li{
    display: inline-block;
    margin-right: 4rem;
}

nav links li a{
    color: white;
    box-decoration-break: none;
}
